{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}



.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
span.price {
  float: right;
  color: grey;
}
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>
<h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart" style="color:white;"></i> <b style="color:white;">{{itc}}</b></span></h4>

  <div class="col-25">
    <div class="container">
      {% for i in ci %}
      <p><a href="{% url 'remove' i.prdt.id %}"><button class="btn"><i class="fa fa-trash"></i></button></a>&nbsp;&nbsp;&nbsp;<a href="{{i.prdt.get_url}}"><img src="{{i.prdt.img.url}}" style="height:90px;width:90px;"></a> <span class="price">Rs.{{i.total}}<br><a href="{% url 'addcart' i.prdt.id %}"><i class="fa fa-plus" style="font-size:10px"></i> </a> {{i.qty}}<a href="{% url 'cartdec' i.prdt.id %}"> <i class="fa fa-minus" style="font-size:10px"></i></a></span></p>
      <p><a href="{{i.prdt.get_url}}">{{i.prdt.name}}</a> </p>
      <p style="color:black;">ID: {{i.prdt.id}}<br><p style="color:black;">Qty:{{i.qty}}</p></p>
      {% endfor %}
      <hr>
      <p style="color:black;">Total <span class="price" style="color:black"><b>${{t}}</b></span></p>
    </div>
  </div>

</body>

{% endblock %}
