{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
 <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left">
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
      </div>
      <div class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="nospace">

          <li id="searchform">
            <div>
              <form action="{% url 'search' %}" method="get">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter Item name to Search" name="q">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
  </div>
<div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Quality Food Items</h3>
      <p>Register with us and Have quality food items at your door step.</p>
<!--      <footer>-->
<!--        <ul class="nospace inline pushright">-->
<!--          <li><a class="btn" href="#">Pharetra etiam</a></li>-->
<!--          <li><a class="btn inverse" href="#">Sagittis massa</a></li>-->
<!--        </ul>-->
<!--      </footer>-->
    </article>

<div class="dropdown" >
  <button class="dropbtn">Filter</button>
  <div class="dropdown-content">
  <a href="/">All</a>
    {% for i in crt %}
  <a href={{i.get_url}}>{{i.name}}</a>
     {% endfor %}
  </div>
</div>
    <!-- ################################################################################################ -->
  </div>

  <!-- ################################################################################################ -->
</div>


<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3" >
  <main class="hoc container clear">

    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        {% for i in pdt.object_list %}
        <li class="one_third">
          <figure><a class="imgover" href={{i.get_url}}><img src="{{i.img.url}}" alt="" style="height:300px;width:300px"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</div>
<div class="mx-auto">
  <div class="text-center">
    {% for pg in pdt.paginator.page_range %}
    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if pdt.number == pg %} activate {% endif %}">{{pg}}</a>
    {% endfor %}
  </div>
</div>
<!-- JAVASCRIPTS -->
<script src="{% static 'home/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'home/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'home/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}