{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static 'pdt/fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pdt/css/templatemo-comparto.css' %}" rel="stylesheet" />
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>

<body>
    <!-- Back to top button -->

        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img src="{{prod.img.url}}" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">{{prod.name}}</h2>
                    <p>Price: {{prod.price}} Rs<br> {{prod.desc}}</p>
                    <p>stock: {{prod.stock}}</p>
                    
                    <a href="{% url 'addcart' prod.id %}" class="tm-btn tm-btn-1 tm-link-to-services">Add to Cart</a>
                </article>
            </div>
        </section>

    </div> <!-- .container -->
    <script src="{% static 'pdt/js/jquery.min.js' %}"></script> <!-- https://jquery.com/download/ -->
    <script src="{% static 'pdt/js/imagesloaded.pkgd.min.js' %}"></script> <!-- https://imagesloaded.desandro.com/ -->
    <script src="{% static 'pdt/js/isotope.pkgd.min.js' %}"></script> <!-- https://isotope.metafizzy.co/ -->
    <script src="{% static 'pdt/js/jquery.singlePageNav.min.js' %}"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
</body>
{% endblock %}